.flex-container{
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #04CC69;
}

.logo{
  display: flex;
  justify-content: center;
}

.admin-panel{
  padding: 20px;
  font-size: 22px;
}


.admin-panel-item{
  padding: 10px;
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 10px;
}

.liss{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.admin-panel-text{
  font-size: 18px;
  padding-left: 10px;
}

.admin-panel-item:hover{
  background-color: #FFFFFF;
  color: #04CC69;
}

.admin-panel-item:hover .icon path{
  fill: #04CC69;
}

.icon{
  width: 30px;
  height: 24px;
}

.icon path{
  fill:#FFFFFF;
}
