<app-sidebar></app-sidebar>
<div class="main-content">
  <div class="figure">
    <form (ngSubmit)="Submit()" [formGroup]="form">
      <h3 class="form-text">Данные старосты</h3>
      <div class="form-row">
        <input
          type="email"
          class="field"
          placeholder="Email"
          formControlName="email"
          required
        />
      </div>
      <div class="form-row">
        <input
          class="field"
          placeholder="Номер группы"
          formControlName="groupNumber"
          required
        />
      </div>
      <div class="form-row">
        <button class="form-button" type="Submit">Создать</button>
      </div>
    </form>
  </div>
</div>
