<div class="centered">
  <form (ngSubmit)="CreateUserAndSendEmail()" [formGroup]="form">
    <h3 class="create-user-text">Создать пользователя</h3>
    <div class="form-row">
      <input
        type="email"
        class="field"
        placeholder="Email"
        formControlName="email"
        required
      />
    </div>
    <div class="form-row">
      <select class="combobox" formControlName="role">
        <option selected>Студент</option>
        <option>Администратор</option>
      </select>
    </div>
    <div class="form-row">
      <button class="login-button" type="CreateUserAndSendEmail">
        Создать
      </button>
    </div>
  </form>
</div>
