.centered
{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-row:nth-child(n+2){
  margin-top: 20px;
}
.login-button{
  cursor: pointer;
  width: 400px;
  height: 40px;
  font-size: 16px;
  color: white;
  border: 1px solid #D1D5DB;
  background-color: #84CC16;
  border-radius: 10px;
}
.field{
  box-sizing: border-box;
  border: 1px solid #D1D5DB;
  border-radius: 10px;
  width: 400px;
  padding: 10px 20px;
}
.field:focus, .login-button:focus,.field:hover,.combobox:hover {
  outline: 2px solid #84CC16;
}
.login-button:hover {
  background-color: #4D7C0F;
}

.create-user-text{
  font-size: 20px;
  color: #A3E635;
}

.combobox{
  box-sizing: border-box;
  width: 400px;
  padding: 10px 20px;
  border: 1px solid #D1D5DB;
  border-radius: 10px;
}
