*{
  margin: 0;
  padding: 0;
}

.flex-container{
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: flex-end;
  background-color: #84CC16;
}

.first-item{
  margin-right: auto;
  background-color: #4D7C0F;
}
.admin-panel-first-item{
  padding: 20px;
  display: flex;
  color: black;
}


.admin-panel{
  padding: 20px;
  font-size: 22px;
}

.admin-panel-item{
  padding: 20px;
  display: flex;
  text-decoration: none;
  color: black;
}

.admin-panel-last-item-text
{
  font-size: 18px;
  padding-right: 20px;
}

.admin-panel-text{
  font-size: 18px;
  padding-left: 10px;
}

.admin-panel-item:focus,.admin-panel-item:hover{
  background-color: #A3E635;
}
