<body>
  <nav>
    <ul class="flex-container">
      <li class="first-item">
        <div class="admin-panel-first-item">
          <span class="admin-panel-text">Учет посещаемости студентов</span>
        </div>
      </li>
      <li>
        <a routerLink="/attendance/attendances" class="admin-panel-item">
          <img
            src="https://img.icons8.com/glyph-neue/24/000000/remove-administrator.png"
          />
          <span class="admin-panel-text">Ведомость</span>
        </a>
      </li>
      <li>
        <a routerLink="/attendance/students" class="admin-panel-item">
          <img
            src="https://img.icons8.com/glyph-neue/24/000000/remove-administrator.png"
          />
          <span class="admin-panel-text">Группа</span>
        </a>
      </li>
      <li>
        <a routerLink="/attendance/profile" class="admin-panel-item">
          <span class="admin-panel-last-item-text">{{
            userService.currentUser.name
          }}</span>
          <img
            src="https://img.icons8.com/glyph-neue/24/000000/remove-administrator.png"
          />
        </a>
      </li>
    </ul>
  </nav>
</body>
