<div class="flex-container">
  <h3 class="admin-panel">Панель администратора</h3>
  <ul>
    <li>
      <a routerLink="/admin/users" class="admin-panel-item">
        <img
          src="https://img.icons8.com/glyph-neue/24/000000/remove-administrator.png"
        />
        <span class="admin-panel-text">Пользователи</span>
      </a>
    </li>
    <li>
      <a href="#" class="admin-panel-item">
        <img src="https://img.icons8.com/material/24/000000/exit.png" />
        <span class="admin-panel-text">Выйти</span>
      </a>
    </li>
  </ul>
</div>
