<div class="centered">
  <form (ngSubmit)="UpdateStudent()" [formGroup]="form">
    <h3 class="create-user-text">Обновить данные студента</h3>
    <div class="form-row">
      <input type="text" class="field" formControlName="name" required />
    </div>
    <div class="form-row">
      <input type="text" class="field" formControlName="email" required />
    </div>
    <div class="form-row">
      <button class="login-button" type="UpdateStudent">
        Сохранить изменения
      </button>
    </div>
  </form>
</div>
