<div class="flex-container">
  <a href="https://technolog.edu.ru/" class="logo">
    <img src="../../../../assets/images/logo.png" alt="СПБГТИ(ТУ)" />
  </a>
  <ul>
    <li class="liss">
      <a routerLink="/attendances/profile" class="admin-panel-item">
        <svg-icon src="../../assets/svg/profile.svg" class="icon"></svg-icon>
        <span class="admin-panel-text">Мой профиль</span>
      </a>
    </li>
    <li class="liss">
      <a routerLink="/attendance/students" class="admin-panel-item">
        <svg-icon src="../../assets/svg/group.svg" class="icon"></svg-icon>
        <span class="admin-panel-text">Группа</span>
      </a>
    </li>
    <li class="liss">
      <a routerLink="/attendances" class="admin-panel-item">
        <svg-icon src="../../assets/svg/user.svg" class="icon"></svg-icon>
        <span class="admin-panel-text">Ведомость</span>
      </a>
    </li>
    <li class="liss">
      <a routerLink="/analysis/pie" class="admin-panel-item">
        <svg-icon src="../../assets/svg/user.svg" class="icon"></svg-icon>
        <span class="admin-panel-text">Аналитика</span>
      </a>
    </li>
    <li class="liss">
      <a href="#" class="admin-panel-item">
        <svg-icon src="../../assets/svg/exit.svg" class="icon"></svg-icon>
        <span class="admin-panel-text">Выйти</span>
      </a>
    </li>
  </ul>
</div>
