<div class="centered">
  <form>
    <h3 class="create-user-text">Добавить студента</h3>
    <div class="form-row">
      <input type="text" class="field" placeholder="Фамилия" required />
    </div>
    <div class="form-row">
      <input type="text" class="field" placeholder="Имя" required />
    </div>
    <div class="form-row">
      <input type="text" class="field" placeholder="Отчество" required />
    </div>
    <div class="form-row">
      <input type="email" class="field" placeholder="Email" required />
    </div>
    <div class="form-row">
      <button class="login-button" type="submit">Добавить</button>
    </div>
  </form>
</div>
