<div class="centered">
  <form>
    <a routerLink="/admin/createUser" class="create-user-text"
      >Создать пользователя</a
    >
    <div class="form-row">
      <input
        type="search"
        class="field"
        placeholder="Поиск"
        [(ngModel)]="term"
      />
    </div>
    <div class="form-row">
      <table>
        <thead>
          <tr>
            <th>Почта</th>
            <th>Группа</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let user of userService.users | filterUsers : term;
              let i = index
            "
          >
            <td>{{ user.email }}</td>
            <td>{{ user.groupNumber }}</td>
            <td>
              <span class="actions">
                <a
                  routerLink="/admin/updateUser"
                  class="actions-item"
                  (click)="ChangeUser(user)"
                >
                  <img src="../../../../assets/images/edit.png" />
                </a>
                <a
                  routerLink="/admin/deleteUser"
                  class="actions-item"
                  (click)="DeleteUser(user)"
                >
                  <img src="../../../../assets/images/delete.png" />
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
