<div class="centered">
  <form (ngSubmit)="UpdateProfile()" [formGroup]="form">
    <div class="form-row">
      <input type="text" class="field" formControlName="name" required />
    </div>
    <div class="form-row">
      <input
        type="email"
        class="field"
        placeholder="email"
        formControlName="email"
        required
      />
    </div>
    <div class="form-row">
      <input
        type="password"
        class="field"
        placeholder="Password"
        formControlName="password"
        required
      />
    </div>
    <div class="form-row">
      <button class="login-button" type="UpdateProfile">
        Сохранить изменения
      </button>
    </div>
  </form>
</div>
