<div class="main-content">
  <div class="figure">
    <form (ngSubmit)="Submit()" [formGroup]="form">
      <h3 class="form-text">Вход</h3>
      <div class="form-row">
        <input
          formControlName="email"
          type="email"
          class="field"
          placeholder="Email"
          required
        />
      </div>
      <div class="form-row">
        <input
          formControlName="password"
          type="password"
          class="field"
          placeholder="Password"
          required
        />
      </div>
      <div class="form-row">
        <button class="form-button" type="Submit">Войти</button>
      </div>
      <div class="form-row">
        <a class="recover-pass" href="#">Забыли пароль?</a>
      </div>
    </form>
  </div>
</div>
