<div class="centered">
  <form (ngSubmit)="DeleteUser()">
    <h3 class="create-user-text">Удалить студента</h3>
    <div class="form-row">
      <input
        type="text"
        class="field"
        readonly
        value="{{ this.studentService.deleteStudent.name }}"
      />
    </div>
    <div class="form-row">
      <input
        type="email"
        class="field"
        readonly
        value="{{ this.studentService.deleteStudent.email }}"
      />
    </div>
    <div class="form-row">
      <button class="login-button" type="DeleteUser">Удалить</button>
    </div>
  </form>
</div>
