<div class="centered">
  <form (ngSubmit)="UpdateUser()" [formGroup]="form">
    <h3 class="create-user-text">Изменить данные пользователя</h3>
    <div class="form-row">
      <input type="email" class="field" formControlName="email" readonly />
    </div>
    <div class="form-row">
      <select class="combobox" formControlName="role">
        <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
      </select>
    </div>
    <div class="form-row">
      <button class="login-button" type="UpdateUser">Изменить</button>
    </div>
  </form>
</div>
