<div class="centered">
  <form>
    <h3 class="create-user-text">Дата</h3>
    <div class="form-row">
      <input
        type="text"
        class="field"
        placeholder="Название предмета"
        required
      />
    </div>
    <div class="form-row">
      <table>
        <thead>
          <tr>
            <th>Номер</th>
            <th>ФИО</th>
            <th>Присутствие</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Ригин Олег Алексеевич</td>
            <td>
              <input type="checkbox" class="checkbox" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
