<mc-sidebarStudent></mc-sidebarStudent>
<div class="main-content">
  <div class="figure">
    <form (ngSubmit)="Submit()" [formGroup]="form">
      <h3 class="form-text">Данные студента</h3>
      <div class="form-row">
        <input
          type="text"
          class="field"
          placeholder="Фамилия"
          formControlName="lastName"
          required
        />
      </div>
      <div class="form-row">
        <input
          type="text"
          class="field"
          placeholder="Имя"
          formControlName="firstName"
          required
        />
      </div>
      <div class="form-row">
        <input
          type="text"
          class="field"
          placeholder="Отчество"
          formControlName="secondName"
          required
        />
      </div>
      <div class="form-row">
        <input
          type="email"
          class="field"
          placeholder="Email"
          formControlName="email"
          required
        />
      </div>
      <div class="form-row">
        <button class="form-button" type="Submit">Создать</button>
      </div>
    </form>
  </div>
</div>
